@import '../abstracts/mixins.scss';

.btn{
    @include button-light-l;
    cursor: pointer;
    padding: 10px 18px;
    transition: all .4s;
    
    &:hover{
        background-color: $main-purple-hover;
    }
    
    &-text{
        @include heading-m;

        color: white;
    }

    &__img{
        @media screen and (min-width: 768px) {
            display: none;
        }
    }
}
