@import '../abstracts/mixins.scss';

.board{
    flex-grow: 1;
    display: flex;
    text-align: center;
    column-gap: 24px;
    padding: 24px;
    overflow: scroll;
    scrollbar-width: none;
    user-select: none;
    max-height: calc(100vh - 80px);

    @media screen and (max-width: 767px) {
        max-height: calc(100vh - 63px);
    }
    
    &_empty{
        flex-direction: column;
        align-items: center;
        gap: 25px;
        margin: 0 auto;
    }

    &__empty-text{
        @include heading-l;
        
        margin-top: 211px;
        color: $medium-grey;

        @media screen and (min-width: 768px) {
            margin-top: 328px;
        }

        @media screen and (min-width: 1440px) {
            margin-top: 364px;
        }
    }
}

.board__column:last-child{
    align-items: center;
    justify-content: center;
    width: 280px;
    background-color: #E9EFFA;
    border-radius: 6px;
    transition: background-color .4s;

    .board__column-btn{
        @include heading-xl;
        cursor: pointer;
        color: $medium-grey;
        background-color: transparent;
        border: none;
    }
}

.dark{
    .board__column:last-child{
        background-color: #2B2C37;
    }
}