@import '../abstracts/mixins.scss';

.body{
    position: relative;
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 1024px;
    min-width: 375px;
    max-width: 1440px;
    background-color: $light-grey-bg;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: background-color .4s;
}

.header{
    flex-shrink: 0;
}

.main{
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}

.body.dark{
    background-color: $dark-grey-bg;

    .edit-menu{
        background-color: $dark-grey-bg;
    }
}