@import '../abstracts/mixins.scss';

.popup{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(black, .5);
    text-align: left;
    z-index: 100;

    .card__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;

        button{
            padding: 10px;
            pointer-events: all;
        }
    }

    &__title{
        @include heading-l;
    }

    .popup__card{
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 6px;
        gap: 24px;
        width: min(91.5%, 480px);
        max-height: 90vh;
        overflow: scroll;
        scrollbar-width: none;
        padding: 24px;
    }

    .card{
        &__title{
            @include heading-l;
            overflow-x: hidden;
            text-overflow: ellipsis; 
        }

        &__subtitle{
            @include text-l;
            overflow-x: hidden;
            text-overflow: ellipsis;

            color: $medium-grey;
        }

        &__subtasks{
            display: flex;
            flex-direction: column;
            gap: 16px;
            border: none;

            &-count{
                @include text-m;
                text-align: left;
                color: $medium-grey;
            }

            &-list{
                display: flex;
                flex-direction: column;
                gap: 8px;
                list-style: none;
            }

            &-item{
                display: flex;
                gap: 16px;
                border-radius: 4px;
                background-color: $light-grey-bg;
                padding: 13px 16px 13px 12px;
            }
            
            &-checkbox:checked{
                accent-color: $main-purple;
                
                & + .card__subtasks-label{
                    text-decoration: line-through;
                    color: $medium-grey;
                }
            }
            
            &-label{
                @include text-m;
                text-overflow: ellipsis;
                overflow-x: hidden;
            }
        }

        &__status{
            display: flex;
            flex-direction: column;
            gap: 8px;

            &-text{
                @include text-m;
                
                text-align: left;
                color: $medium-grey;
            }

            &-select{
                @include text-l;

                width: 100%;
                background-color: transparent;
                border: 1px solid rgba(130, 143, 163, 0.25);
                border-radius: 4px;
                padding: 9px 16px;
                accent-color: $main-purple;

                appearance: none;
                background: url('../../../public/images/selectArrow.svg');
                background-position: calc(100% - 20px) 17px;
                background-repeat: no-repeat;
            }
        }
    }
}

.popup + .popup{
    display: none;
}

.dark{
    .popup__card{
        background-color: $dark-grey;
        color: white;
    }

    .card__subtasks-item{
        background-color: $dark-grey-bg;
    }

    .card__subtasks-count{
        color: white;
    }
    
    .card__title{
        color: white;
    }

    .card__status-text{
        color: white;
    }

    .card__status-select{
        color: white;
        
        background-color: $dark-grey;
    }
}


.popup{
    opacity: 0;
}

.popup_active{
    opacity: 1;
}