@import '../abstracts/variables';
@import '../abstracts/mixins.scss';

.header{
    display: flex;
    align-items: center;
    padding: 0 16px;
    background-color: white;
    transition: background-color .4s;
    
    @media screen and (min-width: 768px) {
        padding: 0 24px 0 26px;
    }

    @media screen and (min-width: 1440px) {
        padding: 0 34px;
    }
    
    &__container{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        padding-left: 16px;

        transition: border-color .4s;

        @media screen and (min-width: 768px) {
            border-left: 1px solid $lines-light;
            padding-left: 24px;
        }
    }

    &__info{
        @include heading-l;

        transition: color .4s;
        @media screen and (min-width: 768px) {
            @include heading-xl;
            img{
                display: none;
            }
        }

        @media screen and (max-width: 767px) {
            display: flex;
            
            img{
                transition: all .8s;
                padding: 8px;
            }

            .sidebar_open{
                transform: rotate(-180deg);
            }
        }
    }

    &__logo{
        display: flex;
        width: calc(260px - 26px);
        gap: 16px;
        flex-shrink: 0;
        align-items: center;

        @media screen and (max-width: 767px) {
            width: auto;
        }

        @media screen and (min-width: 1440px) {
            width: calc(300px - 34px);
        }

        &-text{
            path{
                transition: fill .4s;
            }
            @media screen and (max-width: 767px) {
                display: none;
            }
        }
    }

    &__icon{
        display: flex;
        gap: 3px;
    
        &-item{
            width: 6px;
            height: 25px;
            border-radius: 2px;
            background-color: $main-purple;

            &:nth-child(2){
                opacity: .75;
            }

            &:last-child{
                opacity: .5;
            }
        }
    }

    &__buttons{
        display: flex;
        align-items: center;
        margin-left: auto;
        gap: 16px;

        @media screen and (min-width: 1440px) {
            gap: 24px;
        }
    }

    .btn{
        &:disabled{
            opacity: .25;
    
            .btn:hover{
                opacity: .5;
            }
        }
    }

    .btn-text{
        @media screen and (max-width: 767px) {
            display: none;
        }
    }
}

//dark theme

.body.dark{
    .header{
        background-color: $dark-grey;

        &__info{
            color: white;
        }

        &__logo-text path{
            fill: white;
        }

        &__container{
            border-color: $lines-dark;
        }
    }

}