@import '../abstracts/mixins.scss';

.hide-sidebar-btn{
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &_hidden{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $main-purple;
        border: none;
        border-radius: 0 100px 100px 0;
        padding: 19px 22px 19px 18px;
        
        &:hover{
            background-color: $main-purple-hover;
            cursor: pointer;
        }
    }
}

.hide-sidebar-text{
    @include heading-m;

    color: $medium-grey;
    margin-left: 10px;
}