@import '../abstracts/mixins.scss';

.sidebar{
    display: flex;
    width: 261px;
    flex-shrink: 0;
    
    @media screen and (max-width: 767px) {
        position: fixed;
        top: 64px;
        display: none;
        width: 100vw;
        height: calc(100vh - 64px);
        background-color: rgba(#000000, .5);
        justify-content: center;
        
        &.sidebar_active{
            display: flex;
        }
    }
    
    @media screen and (min-width: 1440px) {
        width: 301px;
    }
    
    &-content{
        border-right: 1px solid $lines-light;
        background-color: white;
        transition: background-color .4s, border-color .4s;
        display: flex;
        flex-direction: column;
        width: 100%;
        
        @media screen and (max-width: 767px) {
            width: 264px;
            margin-top: 16px;
            border-radius: 8px;
            height: fit-content;
        }
    }

    &_hidden{
        position: absolute;
        left: 0;
        bottom: 32px;
    }

    &__boards-count{
        @include heading-s;

        margin-top: 15px;
        margin-left: 32px;
        margin-bottom: 19px;
    }

    &__boards-container{
        display: flex;
        flex-direction: column;
    }
}

//dark theme

.body.dark{
    .sidebar-content{
        background-color: $dark-grey;
        border-color: $lines-dark;
    }
}